<img src="/images/condg_logo.png" width="240" hight="240" alt="CONDG Logo" />

<p>Meetings are held on the fourth Thursday of each month at <a href="/about#where">Microsoft Office</a> in Columbus, Ohio. 
The meetings start at 6:00pm and go until 8:00pm. Anyone interested is also invited to attend the geek dinner afterwards.</p>

<h2 class="section-header">Sponsors</h2>

<h3>Annual Sponsors</h3>

<a href="http://www.cardinalsolutions.com/"><img src="/images/sponsors/cardinal_solutions_small.png" width="300" alt="Cardinal Solutions" /></a><br/><br/>

<a href="http://www.improving.com/"><img src="/images/sponsors/improving_small.png" width="300" alt="Improving" /></a><br/><br/>

<h3>Meeting Sponsors</h3>

<a href="http://leadingedje.com/"><img src="/images/sponsors/leadingedje_small.png" width="300" alt="LeadingEDJE" /></a><br/><br/>

<a href="http://hmbnet.com/"><img src="/images/sponsors/hmb_small.png" width="300" alt="HMB" /></a><br/><br/>

<a href="http://www.icctechnology.com/"><img src="/images/sponsors/icc_small.png" width="300" alt="ICC" /></a><br/><br/>

<a href="http://www.oeconnection.com/"><img src="/images/sponsors/oec_software_solutions_small.png" width="300" alt="OEC Software Solutions" /></a><br/><br/>

<a href="http://microsoft.com/"><img src="/images/sponsors/microsoft_small.png" width="300" alt="Microsoft" /></a><br/><br/>

<h3>Prize Sponsors</h3>

<a href="http://jetbrains.com/"><img src="/images/sponsors/jetbrains_small.png" width="300" alt="JetBrains" /></a><br/><br/>

<a href="http://devexpress.com/"><img src="/images/sponsors/devexpress_small.png" width="300" alt="DevExpress" /></a><br/><br/>

<a href="http://telerik.com/"><img src="/images/sponsors/telerik_small.png" width="300" alt="Telerik" /></a><br/><br/>

<a href="http://pluralsight.com/"><img src="/images/sponsors/pluralsight_small.png" width="300" alt="Pluralsight" /></a><br/><br/>

<h2 class="section-header">Mailing List</h2>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//condg.us9.list-manage.com/subscribe/post?u=68e802e90c225b40783f92521&amp;id=96cf2a8670" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_68e802e90c225b40783f92521_96cf2a8670" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
	<a href="http://condg.us9.list-manage.com/unsubscribe?u=68e802e90c225b40783f92521&id=96cf2a8670">Unsubscribe</a>
	</div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->


